 <header id="header-menu"  class="menu">
     <ul>
    
        <li onclick="SlideTo(1)">Page 1</li>
        <li onclick="SlideTo(2)">Page 2</li>
        <li onclick="SlideTo(3)">Page 3</li>
        <li onclick="SlideTo(4)">Page 4</li>
        <li onclick="SlideTo(5)">Page 5</li>
     
     </ul>
</header>