@page "/"
@inject IJSRuntime JS

<div style="margin:-10px">
    <section class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="images/p0.jpg" class="entity-img" />
         
        </div>
        <div class="swiper-slide">
          <img src="images/p1.jpg" class="entity-img" />
         
        </div>
        <div class="swiper-slide">
          <img src="images/p2.jpg" class="entity-img" />
         
        </div>
           <div class="swiper-slide">
          <img src="images/p3.jpg" class="entity-img" />
         
        </div>
        <div class="swiper-slide">
          <img src="images/p4.jpg" class="entity-img" />
         
        </div>
           <div class="swiper-slide">
          <img src="images/t2.png" class="entity-img" />
         
        </div>
        <div class="swiper-slide">
          <img src="images/t3.png" class="entity-img" />
         
        </div>
    

      </div>
  
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
 
    </section>
</div>