
body {
    background-color: #888;
    overflow:hidden;
}
.btnic {
    margin: 0 auto;
    border: none;
    color: white;
    
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}
.btnic i{
    margin:10px;
}
.swiper-container {
    width: 100%;
   
    transition: opacity .6s ease, transform .3s ease;
}


.scale-out {
    transform: scale(.85);
}

.scale-in {
    transform: scale(1);
}


.swiper-wrapper {
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    perspective: 1600px;
}
.content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;
    transform: translateZ(100px) translateX(100px);
}
.swiper-slide img{
    width:100%;
    height:100vh;
}


#header-menu {
    top: -300px;
    height: 300px;
    background-color: black;
    opacity: 0.7;
    overflow: hidden;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    text-align: center;
    z-index:2;
  
    overflow:auto;
    
 
}

#header-menu ul
{
    padding:0px;
    width:100%;
}
#header-menu ul li {
    color: white;
    text-align: center;
    list-style-type: none;
    line-height: 30px;
    width: 100%;
    font-family: system-ui;
    border-bottom: 1px solid white;
    padding: 10px 0px;
       
}
#footer-menu {
    bottom: 0px;
    height: 80px;
    background-color: firebrick;
    opacity: 0.7;
    overflow: hidden;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    text-align: center;
    z-index: 2;
 
}
.btnic {
    margin: 10px auto;
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    width: 60px
}

.slide-down {
    animation: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: absolute !important;
}

@-webkit-keyframes slide-down {
    0% {
        transform: translateY(0px) scale(1);
    }

    100% {
        transform: translateY(300px) scale(1);
    }
}

.slide-up {
    animation: slide-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: absolute !important;
}

@-webkit-keyframes slide-up {
    0% {
        transform: translateY(300px) scale(1);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}





